html,
body {
  margin: 0;
  padding: 0;
  text-align: justify;
}

h1,
h2,
h3,
h4,
body {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 28px;
}

h2,
h1 {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1000px) {
  .down-arrow {
    display: none;
  }
}

a {
  position: relative;
  /* z-index: 50; */
}

h1 {
  font-size: 60px;
  background: #f2f2f2;
  padding: 20px 30px;
  margin: 0;
}

h2 {
  font-size: 30px;
  background: #f2f2f2;
  padding: 10px 30px;
  width: fit-content;
}

.main {
  margin-top: 50px;
  width: 80vw;
  max-width: 1200px;
  margin: auto;
}

.double-panel {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.glide,
h2 {
  margin-top: 60px;
}

.double-panel > .left {
  /* width: 37%;
  margin-right: 3%; */
}

.double-panel > .right {
  /* width: 60%; */
  width: 100%;
}

.intro-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #f2f2f2;
  padding: 30px 5vw;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.intro {
  width: 100%;
}

.video-container {
  max-width: 100%;
  position: relative;
}

img,
video {
  width: 100%;
}

.ytcontainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.ytvideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section {
  background: #333;
  height: 100vh;
  position: relative;
  width: 100%;
}

.down-arrow {
  position: absolute;
  width: 100%;
  height: 100%;
}
.down-arrow::before {
  animation: bounce 1s ease infinite;
  bottom: 2rem;
  color: #fff;
  font-family: sans-serif;
  content: "╲╱";
  font-size: 3rem;
  height: 4rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  font-weight: bold;
  margin-left: -3rem;
  opacity: 1;
  position: absolute;
  /* bottom: 100px; */
  bottom: 0;
  text-align: center;
  width: 6rem;
  z-index: 20;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}
